.chatContainer {
    position: relative;
    height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@media(min-width:768px){
    .chatContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}